.container[role="main"] {
  margin-top: 40px;
}


.rating .scale {
  margin-bottom: 10px;
}
.rating .scale > span {
  line-height: 18px;
}
.rating .options {
  margin: 0 10px;
  color: gainsboro;
}
.rating .options .option {
  font-size: 15px;
  font-weight: bold;
  display: block;
  float: left;
  padding: 0 5px;
  cursor: pointer; cursor: hand;
}
.rating .options.has-selected .option.selected {
  color: black;
}
.rating .options.has-selected:hover .option.selected {
  color: inherit;
}
.rating .options .option:hover {
  color: black;
}
